:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 10px;
}

mat-form-field,
button {
  margin-right: 12px;
}

.drop-down {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
