:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  fill: #2e9fff;
}

.bar:hover {
  fill: #ff5555;
}

.axis-title {
  fill: none;
  stroke: #000000;
  stroke-width: 0.5px;
  font-size: 15px;
}
