<app-input (changeStatusAllTasks)="updateAllTasks($event)" [allTasks]="allTasks"></app-input>

<div cdkDropListGroup>
  <app-column-tasks [countTask]="countToDoTask()" [allStatus]="todo" [getStatus]="status.ToDo" [allTasks]="allTasks"
                    [title]="'To Do'" (updateAllTasks)="updateAllTasks($event)"></app-column-tasks>
  <app-column-tasks [countTask]="countInProgressTask()" [allStatus]="inProgress" [getStatus]="status.InProgress"
                    [allTasks]="allTasks" [title]="'In Progress'" (updateAllTasks)="updateAllTasks($event)"></app-column-tasks>
  <app-column-tasks [countTask]="countDoneTask()" [allStatus]="done" [getStatus]="status.Done" [allTasks]="allTasks"
                    [title]="'Done'" (updateAllTasks)="updateAllTasks($event)"></app-column-tasks>
</div>
